<!-- https://mdbootstrap.com/docs/standard/extended/multiselect/ -->
{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Highcharts Dashboard{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Highcharts Dashboard</h2>
        <div class="widget_box p-3 rounded" style="background-color: #f8f9fa;">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <select id="plotTypeSelect" class="browser-default custom-select">
                        <option value="bar">Bar</option>
                        <option value="line">Line</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="productID" class="browser-default custom-select">
                        <option value="Kamorta">Kamorta</option>
                        <option value="Magnus">Magnus</option>
                        <option value="Jcala">Jcala</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <!-- <label for="startDatePicker">Start Date:</label> -->
                    <input type="date" id="startDatePicker" class="form-control" value="{{ default_start_date }}">
                </div>
                <div class="col-md-3">
                    <!-- <label for="endDatePicker">End Date:</label> -->
                    <input type="date" id="endDatePicker" class="form-control" value="{{ default_end_date }}">
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-4 mb-1">
                    <select id="binType" class="select" multiple>
                        <option value="YIELD">YIELD</option>
                        <option value="ATPG_INT">ATPG_INT</option>
                        <option value="ATPG_SAF">ATPG_SAF</option>
                        <option value="IDDQ">IDDQ</option>
                        <option value="MBIST_HV">MBIST_HV</option>
                        <option value="DC">DC</option>
                        <option value="MBIST_LV">MBIST_LV</option>
                        <option value="TDF">TDF</option>
                        <option value="CONTINUITY">CONTINUITY</option>
                        <option value="RX">RX</option>
                    </select>
                    <label class="form-label select-label">Example label</label>
                </div>
            </div>
        </div>
        <div class="widget_box mt-4 p-3 rounded" style="background-color: #f8f9fa;">
            <div class="row">
                <div class="col-md-12">
                    <div id="chartContainer" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
        var plotTypeSelect = document.getElementById('plotTypeSelect');
        var startDatePicker = document.getElementById('startDatePicker');
        var endDatePicker = document.getElementById('endDatePicker');
        var chart;  // Variable to store the Highcharts chart instance
        function createChart(xLabels, yValues) {
                        // Destroy previous chart instance if exists
            if (chart) {
                chart.destroy();
            };

            Highcharts.chart('chartContainer', {
                chart: {
                    type:  plotTypeSelect.value
                },
                title: {
                    text: 'Average Yield Data by Month'
                },
                xAxis: {
                    categories: xLabels,
                    title: {
                        text: 'Month'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Average Yield'
                    }
                },
                series: [{
                    name: 'Average Yield',
                    data: yValues
                }],
                // Add other Highcharts options as needed
            });
        }

        function updateChart() {
            var startDate = startDatePicker.value;
            var endDate = endDatePicker.value;
            var product_id = productID.value;
            var bin_type = binType.value;
            console.log(product_id);
            console.log(startDate);
            console.log(endDate);

            fetch(`/get_data_highchart/?plot_type=${plotTypeSelect.value}&start_date=${startDate}&end_date=${endDate}&bin_type=${bin_type}&product_id=${product_id}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data.y_values);
                    createChart(data.x_labels, data.y_values);
                    
                });
        }

        plotTypeSelect.addEventListener('change', updateChart);
        startDatePicker.addEventListener('change', updateChart);
        endDatePicker.addEventListener('change', updateChart);
        binType.addEventListener('change', updateChart);
        productID.addEventListener('change', updateChart);
        // Calculate default start and end dates
        var currentDate = new Date();
        var defaultEndDate = currentDate.toISOString().split('T')[0];
        var fourteenDaysAgo = new Date(currentDate);
        fourteenDaysAgo.setDate(currentDate.getDate() - 14);
        var defaultStartDate = fourteenDaysAgo.toISOString().split('T')[0];

        startDatePicker.value = defaultStartDate;
        endDatePicker.value = defaultEndDate;

        // Call updateChart initially to populate the initial data
        updateChart();
    </script>
{% endblock %}




