
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--第一步：引入Javascript / CSS （CDN）-->
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="../static/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
</head>
<body>
<!--第二步：添加如下 HTML 代码-->
<table id="example" class="display" style="width:100%; font-size: 10px">
    <thead>
    <tr>
        <th>id</th>
        <th>商品编号</th>
        <th>三级分类</th>
        <th>二级分类</th>
{#        <th>名称</th>#}
        <th>简称</th>
        <th>经销价</th>
        <th>财务销量</th>
        <th>收入</th>
        <th>成交单价</th>
        <th>经销成本</th>
        <th>经销毛利</th>
        <th>日期</th>
    </tr>
    </thead>
</table>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            'ajax': 'http://127.0.0.1:8000/netinfo/', // json的url
            'columns': [
                {'data': 'id'},
                {'data': 'commodity_number'},
                {'data': 'three_type'},
                {'data': 'two_type'},
                {#{'data': 'commodity_name'},#}
                {'data': 'short_name'},
                {'data': 'agent_price'},
                {'data': 'finance_sales'},
                {'data': 'income'},
                {'data': 'unit_price'},
                {'data': 'agent_cost'},
                {'data': 'agent_profit'},
                {'data': 'date'},
            ],
            'language': {
                'url': 'http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json' // 以中文显示
            }
        })
    })
</script>
</html>